# Carpetas generadas automáticamente
/build/
/nbproject/

# Archivos temporales
*.class
*.log
*.tmp
*.bak
*.swp

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos específicos del proyecto
audioFiles.txt
